<div id="footer" class="margin-top-15">
    <div class="container">
        <div class="copyrights">
                    2020 Full Throttle. All rights reserved.
                </div>
    </div>
</div>