<div class="main-search-container centered">
  <div class="main-search-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Find Nearby Cars
          </h2>
          <h4>Expolore top-rated attractions, activities and more</h4>
          <%= form_tag search_vehicles_path(vehicle_type: "all") do %>
          <div class="main-search-input">
            <div class="main-search-input-item">
              <input type="text" placeholder="What are you looking for?" value=""/>
            </div>

            <div class="main-search-input-item location">
              <div id="autocomplete-container">
                <input id="autocomplete-input" type="text" placeholder="Location">
              </div>
              <a href="#"><i class="fa fa-map-marker"></i></a>
            </div>

              <%= submit_tag "Search" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="fullwidth padding-top-75 padding-bottom-75" data-background-color="#f9f9f9" style="background: rgb(249, 249, 249);">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-50">
          Browse by category
        </h3>
      </div>
    </div>

    <div class="row">
      <% VehicleType.active.each do |vt| %>
        <div class="col-md-2">
          <%= link_to search_vehicles_path(vt.name.try(:downcase)), class: "blog-compact-item-container" do %>
            <div class="blog-compact-item">
              <img src="https://resources.turo.com/f/81934/424x318/7f4e44231c/category-carousel_classic-2x.jpg" alt="">
              <div class="blog-compact-item-content">
                <ul class="blog-post-tags">
                  <li><%= vt.name %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>