<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9" style="background: rgb(249, 249, 249);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 margin-top-40 padding-bottom-70">
        <h3 class="headline centered headline-extra-spacing">
          <div class="margin-bottom-25">
          <%= image_tag "order_confirmed.svg", height: 200 %>
          </div>
          <strong class="headline-with-separator">Yay! Your trip has been booked.</strong>
        </h3>
      </div>
    </div>
  </div>
</section>