<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>List your car</h2>
        <nav id="breadcrumbs">
          <ul>
            <li><%= link_to "My Vehicles", vehicles_path, class: "button", style: "color: #fff;" %></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', vehicle: @vehicle %>
    </div>
    <div class="col-md-6">
      <%= image_tag "fast_car_p4cu.svg",  style: "margin-top: 200px;" %>
    </div>
  </div>
</div>
