<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Listings</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <% @vehicles.each do |vehicle| %>
    <div class="col-lg-6 col-md-12">
      <a href="listings-single-page.html" class="listing-item-container">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">
          <div class="listing-badge now-closed"><%= vehicle.per_hour_price %></div>

          <div class="listing-item-content">
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
        <div class="star-rating" data-rating="5.0">
          <div class="rating-counter">(31 reviews)</div>
        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></div>
      </a>
    </div>
    <% end %>
  </div>
</div>