<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Listings</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <% @vehicles.each do |vehicle| %>
    <div class="col-lg-6 col-md-12">
      <%= link_to vehicle_path(vehicle), class: "listing-item-container" do %>
        <div class="listing-item">
          <%= image_tag vehicle.images.first.variant(resize_to_limit: [600, 600]) %>
          <div class="listing-badge now-open">$<%= vehicle.per_hour_price %></div>

          <div class="listing-item-content">
            <h3><%= "#{vehicle.year} #{vehicle.make} #{vehicle.model}" %></h3>
            <span>"Quick Quote"</span>
          </div>
          <span class="like-icon"></span>
        </div>
        <div class="star-rating" data-rating="5.0">
          <div class="rating-counter">(31 reviews)</div>
        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>